<h3>Feast your eyes upon these teas:</h3>

<!-- ########## TEA TABLE ##########-->
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>TEA</th>
				<th>INFORMATION</th>
				<th>priceSortThingy</th>
			</tr>
		</thead>
		<tbody ng-repeat="tea in teaArray">
			<tr>
				<td>
					<img src="{{tea.imageUrl}}">
				</td>
				<td>
					<p>{{tea.name}}</p>
					<p>Price: {{tea.price | cents}}</p>
					<p>Caffine Rating: {{tea.caffeineScale}}</p>
					<p>Ingredients: {{tea.ingredients}}</p>
					<p>Rating: {{tea.rating}}</p>
					<p>In Stock: {{tea.inStock | booleanConverter}}</p>
					<p>Categories:</p>
					<ul>
						<li ng-repeat="category in tea.categories">{{category}}</li>
					</ul>
				</td>
				<td>FOO</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- ########## tea table ##########-->

