
<div>
	<span>Search by category: 
		<select>
			<option value="dark">Dark</option>
			<option value="cold">Cold</option>
			<option value="awesome">Awesome</option>
			<option value="dry">Dry</option>
			<option value="hot">Hot</option>
			<option value="summer">Summer</option>
			<option value="winter">Winter</option>
			<option value="spring">Spring</option>
			<option value="warm">Warm</option>
		</select>
	</span>
	<span>
		Search by name: <input type="text" ng-model="nameSearch"> 
	</span>
</div>

<!-- ########## TEA TABLE ##########-->
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>TEA</th>
				<th>INFORMATION</th>
				<th>priceSortThingy</th>
			</tr>
		</thead>
		<tbody ng-repeat="tea in teaArray | filter:nameSearch">
			<tr>
				<td>
					<img src="{{tea.imageUrl}}">
				</td>
				<td>
						<div id="textBox" >
							<p class="alignLeft">{{tea.name}}</p>
							<p class="alignRight"> 
								<span>
									Quantity:
								</span>
								<span>
									<select>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>
								</span>
							</p>
						</div >
					<p style="clear: both;">Price: {{tea.price | cents}}</p>
					<p>Caffine Rating: {{tea.caffeineScale}}</p>
					<p>Ingredients: {{tea.ingredients}}</p>
					<p>Rating: {{tea.rating}}</p>
					<p>In Stock: {{tea.inStock | booleanConverter}}</p>
					<p>Categories:</p>
					<ul>
						<li ng-repeat="category in tea.categories">{{category}}</li>
					</ul>
				</td>
				<td>

					<span><button type="button" class="btn btn-warning btn-xs">Add To Bag</button></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- ########## tea table ##########-->

