.form {
	padding-right: 75px;
	padding-left: 75px;
}

.placeBox {
	width: 100%;
	background-color: coral;
	margin-top: 5px;
	display:inline-block;
	overflow:auto;
}


#placeContainer {
	margin-left: 10%;
	margin-right: 10%;
	padding: 30px;
}
.image {
	height: 200px;
	float: left;
}

.textContainer {
	float: right;	
}
/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
  
}